<a href="https://colab.research.google.com/github/c-biancone/ISCH-370_Project/blob/main/ISCH370_Group2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import datasets

In [2]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [25]:
# import DoT county transportation profiles (Stored in GitHub repo)
import pandas as pd
countyTrans = pd.read_csv('https://raw.githubusercontent.com/c-biancone/ISCH-370_Project/main/data_sets/county_transportation_profiles.csv')

# import DoT trips by distance
# not right now don't want to slow this down too much

# import census data
census = pd.read_csv('https://raw.githubusercontent.com/c-biancone/ISCH-370_Project/main/data_sets/acs2015_county_data.csv')

In [12]:
# check out the dataset
# countyTrans

In [26]:
# see how many null values there are in which column
countyTrans.isnull().sum()

County FIPS                                                                   0
County Name                                                                   0
State FIPS                                                                    0
State Name                                                                    0
Primary and Commercial Airports                                             125
Non-Commercial -Civil Public Use Airports and Seaplane base                 125
Non-Commercial -Other Aerodromes                                            125
Number of Bridges                                                            18
% of Poor Condition Bridges                                                  18
Number of business establishments                                             2
Percent of resident workers who commute by transit                            0
Number of resident workers who work at home                                   3
Number of workers from other counties who commute to work in the county       0
Number of resident workers who commute to work in other counties              0
Number of resident workers who commute within county                          0
Number of resident workers                                                    0
Number of residents                                                           0
Total Docks                                                                2613
Total Marinas                                                              2613
Route miles of freight railroad                                             456
% of Medium to Fair Condition Bridges                                        18
Route miles of passenger railroad and rail transit                          456
dtype: int64

In [27]:
countyTransCleaned = countyTrans.copy()
# docks and marinas have huge number of null values and aren't relevant
countyTransCleaned.drop(['Total Docks','Total Marinas'], axis=1, inplace=True)
# assume airports, bridges, railroad null values are counties without these since the catergories have same number missing
countyTransCleaned['Primary and Commercial Airports'].fillna(0, inplace=True)
countyTransCleaned['Non-Commercial -Civil Public Use Airports and Seaplane base'].fillna(0, inplace=True)
countyTransCleaned['Non-Commercial -Other Aerodromes'].fillna(0, inplace=True)
countyTransCleaned['Number of Bridges'].fillna(0, inplace=True)
countyTransCleaned['% of Poor Condition Bridges'].fillna(0.0, inplace=True)
countyTransCleaned['% of Medium to Fair Condition Bridges'].fillna(1.0, inplace=True) # no bridges = fine condition
countyTransCleaned['Route miles of freight railroad'].fillna(0.0, inplace=True)
countyTransCleaned['Route miles of passenger railroad and rail transit'].fillna(0.0, inplace=True)

# countyTransCleaned.isnull().sum()

In [28]:
# let's look at the null values for businesses and wfh
temp = pd.DataFrame(columns = countyTransCleaned.columns)
for i in range(countyTransCleaned.shape[0]-1):
    row = countyTransCleaned.loc[i]
    if row.isnull().any():
        temp = temp.append(row)
# temp

In [29]:
# the counties above are small, low in population, so assuning businesses and wfh = 0
countyTransCleaned['Number of business establishments'].fillna(0, inplace=True)
countyTransCleaned['Number of resident workers who work at home'].fillna(0, inplace=True)

In [30]:
countyTransCleaned

,County FIPS,County Name,State FIPS,State Name,Primary and Commercial Airports,Non-Commercial -Civil Public Use Airports and Seaplane base,Non-Commercial -Other Aerodromes,Number of Bridges,% of Poor Condition Bridges,Number of business establishments,Percent of resident workers who commute by transit,Number of resident workers who work at home,Number of workers from other counties who commute to work in the county,Number of resident workers who commute to work in other counties,Number of resident workers who commute within county,Number of resident workers,Number of residents,Route miles of freight railroad,% of Medium to Fair Condition Bridges,Route miles of passenger railroad and rail transit
0,1001,Autauga County,1,Alabama,0.0,1.0,0.0,114.0,0.035088,869.0,0.000782,510.0,15576,15417,8710,24300,55050,50.7,0.964912,0.0
1,1003,Baldwin County,1,Alabama,0.0,4.0,28.0,360.0,0.019444,5384.0,0.002143,4380.0,24011,17748,62235,86310,199510,30.4,0.980556,0.0
2,1005,Barbour County,1,Alabama,0.0,2.0,2.0,193.0,0.031088,455.0,0.003984,110.0,2368,1871,6395,8785,26615,14.7,0.968912,0.0
3,1007,Bibb County,1,Alabama,0.0,1.0,0.0,126.0,0.000000,284.0,0.004710,100.0,4868,4816,3410,8280,22570,25.1,1.000000,5.5
4,1009,Blount County,1,Alabama,0.0,1.0,1.0,183.0,0.087432,698.0,0.001639,480.0,14171,13981,7205,21350,57705,13.1,0.912568,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater County,56,Wyoming,1.0,1.0,1.0,195.0,0.071795,1248.0,0.023457,400.0,740,469,21855,22595,44810,220.7,0.928205,0.0
3138,56039,Teton County,56,Wyoming,1.0,0.0,7.0,117.0,0.136752,2140.0,0.062455,790.0,775,360,13220,14010,22625,0.0,0.863248,0.0
3139,56041,Uinta County,56,Wyoming,0.0,2.0,1.0,132.0,0.181818,560.0,0.034264,280.0,1632,1093,7685,9310,20895,74.2,0.818182,0.0
3140,56043,Washakie County,56,Wyoming,0.0,1.0,3.0,61.0,0.114754,346.0,0.001099,185.0,339,300,3300,3640,8350,28.0,0.885246,0.0
3141,56045,Weston County,56,Wyoming,0.0,2.0,1.0,47.0,0.255319,222.0,0.074303,180.0,859,819,2365,3230,7175,61.5,0.744681,0.0

In [31]:
census

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Puerto Rico,Vega Baja,56858,27379,29479,96.4,3.4,0.1,0.0,...,1.2,1.3,0.3,32.0,13660,78.3,17.6,4.1,0.0,15.2
3216,72147,Puerto Rico,Vieques,9130,4585,4545,96.7,2.9,0.0,0.0,...,10.8,0.0,1.4,14.0,2860,44.5,41.6,13.6,0.3,12.2
3217,72149,Puerto Rico,Villalba,24685,12086,12599,99.7,0.0,0.0,0.0,...,3.2,0.0,3.3,26.9,6795,59.2,27.5,13.1,0.2,25.9
3218,72151,Puerto Rico,Yabucoa,36279,17648,18631,99.8,0.2,0.0,0.0,...,2.3,2.3,1.5,29.5,8083,65.1,27.6,7.3,0.0,24.3
3219,72153,Puerto Rico,Yauco,39474,19047,20427,99.5,0.5,0.0,0.0,...,1.6,0.7,3.1,24.6,8923,68.0,27.6,4.4,0.0,27.1

In [32]:
census.isnull().sum()

CensusId           0
State              0
County             0
TotalPop           0
Men                0
Women              0
Hispanic           0
White              0
Black              0
Native             0
Asian              0
Pacific            0
Citizen            0
Income             1
IncomeErr          1
IncomePerCap       0
IncomePerCapErr    0
Poverty            0
ChildPoverty       1
Professional       0
Service            0
Office             0
Construction       0
Production         0
Drive              0
Carpool            0
Transit            0
Walk               0
OtherTransp        0
WorkAtHome         0
MeanCommute        0
Employed           0
PrivateWork        0
PublicWork         0
SelfEmployed       0
FamilyWork         0
Unemployment       0
dtype: int64

In [33]:
unwanted = ['Men', 'Women', 'Hispanic','White','Black','Native','Asian','Pacific','Citizen','IncomeErr',
            'IncomePerCapErr','ChildPoverty','Professional','Service','Office','Construction','Production','WorkAtHome']
census.drop(columns = unwanted, inplace = True)
census

,CensusId,State,County,TotalPop,Income,IncomePerCap,Poverty,Drive,Carpool,Transit,Walk,OtherTransp,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,51281.0,24974,12.9,87.5,8.8,0.1,0.5,1.3,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,50254.0,27317,13.4,84.7,8.8,0.1,1.0,1.4,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,32964.0,16824,26.7,83.8,10.9,0.4,1.8,1.5,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,38678.0,18431,16.8,83.2,13.5,0.5,0.6,1.5,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,45813.0,20532,16.7,84.9,11.2,0.4,0.9,0.4,34.9,22189,82.0,13.5,4.2,0.4,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Puerto Rico,Vega Baja,56858,16948.0,9102,48.5,89.1,7.1,0.9,1.2,1.3,32.0,13660,78.3,17.6,4.1,0.0,15.2
3216,72147,Puerto Rico,Vieques,9130,18104.0,8821,39.1,69.1,17.8,1.0,10.8,0.0,14.0,2860,44.5,41.6,13.6,0.3,12.2
3217,72149,Puerto Rico,Villalba,24685,17818.0,8420,54.0,82.0,11.4,0.1,3.2,0.0,26.9,6795,59.2,27.5,13.1,0.2,25.9
3218,72151,Puerto Rico,Yabucoa,36279,15627.0,7960,52.3,86.0,7.9,0.0,2.3,2.3,29.5,8083,65.1,27.6,7.3,0.0,24.3
3219,72153,Puerto Rico,Yauco,39474,14708.0,7743,51.7,84.8,8.5,1.2,1.6,0.7,24.6,8923,68.0,27.6,4.4,0.0,27.1

In [35]:
census['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [36]:
countyTransCleaned['State Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Kentucky',
       'Indiana', 'Iowa', 'Kansas', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Dakota',
       'North Carolina', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [45]:
# get rid of puerto rico :(
census = census.loc[(census['State'] != 'Puerto Rico')]
census
# same size!!

,CensusId,State,County,TotalPop,Income,IncomePerCap,Poverty,Drive,Carpool,Transit,Walk,OtherTransp,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,51281.0,24974,12.9,87.5,8.8,0.1,0.5,1.3,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,50254.0,27317,13.4,84.7,8.8,0.1,1.0,1.4,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,32964.0,16824,26.7,83.8,10.9,0.4,1.8,1.5,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,38678.0,18431,16.8,83.2,13.5,0.5,0.6,1.5,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,45813.0,20532,16.7,84.9,11.2,0.4,0.9,0.4,34.9,22189,82.0,13.5,4.2,0.4,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,44772,69022.0,30568,11.5,77.2,15.4,2.4,2.4,0.9,21.0,23010,78.6,17.7,3.7,0.0,5.4
3138,56039,Wyoming,Teton,22311,75325.0,44231,7.4,64.0,7.5,7.8,10.3,4.9,14.4,14298,81.3,11.2,7.5,0.0,2.6
3139,56041,Wyoming,Uinta,20930,56569.0,25772,13.7,77.1,12.7,2.8,2.8,1.6,20.4,10064,75.4,19.0,5.6,0.0,4.4
3140,56043,Wyoming,Washakie,8400,47652.0,27394,13.8,74.1,12.3,0.0,6.2,2.8,12.3,3892,70.5,21.5,7.6,0.5,6.8
3141,56045,Wyoming,Weston,7152,57738.0,30245,14.1,67.5,11.5,10.8,3.4,1.2,29.1,3343,70.2,20.2,8.3,1.3,5.2

In [53]:
# append data to original set
wanted = ['TotalPop','Income','IncomePerCap','Poverty'] # may add on to this
for i in range(1,len(wanted)):
    countyTransCleaned = countyTransCleaned.join(census[wanted[i]])
countyTransCleaned

,County FIPS,County Name,State FIPS,State Name,Primary and Commercial Airports,Non-Commercial -Civil Public Use Airports and Seaplane base,Non-Commercial -Other Aerodromes,Number of Bridges,% of Poor Condition Bridges,Number of business establishments,...,Number of resident workers who commute within county,Number of resident workers,Number of residents,Route miles of freight railroad,% of Medium to Fair Condition Bridges,Route miles of passenger railroad and rail transit,TotalPop,Income,IncomePerCap,Poverty
0,1001,Autauga County,1,Alabama,0.0,1.0,0.0,114.0,0.035088,869.0,...,8710,24300,55050,50.7,0.964912,0.0,55221,51281.0,24974,12.9
1,1003,Baldwin County,1,Alabama,0.0,4.0,28.0,360.0,0.019444,5384.0,...,62235,86310,199510,30.4,0.980556,0.0,195121,50254.0,27317,13.4
2,1005,Barbour County,1,Alabama,0.0,2.0,2.0,193.0,0.031088,455.0,...,6395,8785,26615,14.7,0.968912,0.0,26932,32964.0,16824,26.7
3,1007,Bibb County,1,Alabama,0.0,1.0,0.0,126.0,0.000000,284.0,...,3410,8280,22570,25.1,1.000000,5.5,22604,38678.0,18431,16.8
4,1009,Blount County,1,Alabama,0.0,1.0,1.0,183.0,0.087432,698.0,...,7205,21350,57705,13.1,0.912568,0.0,57710,45813.0,20532,16.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater County,56,Wyoming,1.0,1.0,1.0,195.0,0.071795,1248.0,...,21855,22595,44810,220.7,0.928205,0.0,44772,69022.0,30568,11.5
3138,56039,Teton County,56,Wyoming,1.0,0.0,7.0,117.0,0.136752,2140.0,...,13220,14010,22625,0.0,0.863248,0.0,22311,75325.0,44231,7.4
3139,56041,Uinta County,56,Wyoming,0.0,2.0,1.0,132.0,0.181818,560.0,...,7685,9310,20895,74.2,0.818182,0.0,20930,56569.0,25772,13.7
3140,56043,Washakie County,56,Wyoming,0.0,1.0,3.0,61.0,0.114754,346.0,...,3300,3640,8350,28.0,0.885246,0.0,8400,47652.0,27394,13.8
3141,56045,Weston County,56,Wyoming,0.0,2.0,1.0,47.0,0.255319,222.0,...,2365,3230,7175,61.5,0.744681,0.0,7152,57738.0,30245,14.1